@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Quicksand:wght@300..700&display=swap');
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: white;

}
.rightC-2{
  font-family: "Quicksand", sans-serif;

}
.container{
    width: 1280px;
margin: 0 auto;
}
.main_container{
    display: flex;
    flex-direction: column;
    height: calc(100vh -72px);
}
.font-bebas{
    font-family: 'Bebas Neue', cursive;
}
@media (min-width: 640px) { 
    .hero-container { height: 400px !important; } /* Small devices */
  }
  @media (min-width: 768px) { 
    .hero-container { height: 500px !important; } /* Medium devices */
  }
  @media (min-width: 1024px) { 
    .hero-container { height: 600px !important; } /* Large devices */
  }
